<html>
<head>
  <title>Radiodan</title>
</head>
<body>
  <%= yield %>
  <link rel="stylesheet" href="/css/radio.css">
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="/faye/client.js"></script>
  <script src="/js/radio.js"></script>
</body>
</html>
